<!DOCTYPE html>
<html>
<head>
	<title>OUTPUT</title>
</head>
<body>
	<h2>THE NUMBERS IN THE LIST ARE:- </h2>
  {% for nos in my_dict.list1 %}
    <span>{{ nos }}</span>
  {% endfor %}

  <p>
		<em><strong>NOTE: THERE ARE NO DUPLICATE ELEMENTS IN THE DATABASE.
		IF THE NUMBER ALREADY EXISTS IN THE DATABASE, IT'S OUPUT IS SIMPLY FETCHED AND NOT CALCULATED AGAIN.</strong></em>
	</p>
	<p>
		<a href="http://127.0.0.1:8000/admin">LINK TO ADMIN PAGE</a>
	</p>
<span> username:-kushal,password=pass1234</span>
</body>
</html>
